
<!-- with title -->
<div class="jumbotron text-white rounded bg-dark">
        <div class="col px-0">
            <h1 class="display-4 font-italic">{{ post.title}} </h1>
        </div>
    </div>

    <div class="blog-post">
        <p class="blog-post-meta">
            {{ post.create_timestamp.strftime('%d %b %Y') }} by 
            <a href="#">{{post.author.name}}</a>
            {% if post.create_timestamp != post.edit_timestamp %}
            (last edited on {{ post.edit_timestamp.strftime('%d %b %Y') }} )
            {% endif %}
        </p>

        {{ post.body }}
    
    </div><!-- /.blog-post -->
